@using Course.Core.Models
@model DataAccess.Entities.Products

@{
    ViewData["Title"] = "Products";

    Layout = "~/Views/Shared/_Layout.cshtml";
    string path = Url.Content("~/Products/");

    var DataPro = (List<ProductDT>)ViewBag.DataProduct;
}

<div id="main">
    <div class="inner">
        <header>
            <h1 class="text-center">
                @ViewBag.CategoryName
            </h1>
        </header>
        @foreach (var n in DataPro)
        {
            

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src=@path@n.Image alt="Image" class="img-fluid" style='width:60px'>
                        <p class="fs-3">@n.Name</p>
                        <p class="fs-6 text-decoration-line-through">@n.Price</p>
                        <p class="text-danger fs-5">@n.Discount (%)</p>
                        <p class="text-success font-weight-bold fs-2">@n.PriceNet</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>